
.register-container {
  display: flex;
  width: 100;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  background: rgba(243, 255, 242, 0.383);
  border: 2px solid rgba(255, 255, 255, 0.363);
  border-radius: 3px;
  padding: 10px;
}

.error-message {
  font: Regular 16px Roboto;
  color: #de4b4b;
  font-size: 15px;
  margin-top: 20px;
}


.register-container section.form {
  width: 100%;
  max-width: 350px;
}

.register-container section.form form {
  margin-top: 15px;
  padding: 10px;
}

.register-container section.form  h1 {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.register-container section .form img {
  justify-content: center;
}

.register-container section.form div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 60.4em) {
 
}
